// Color Cube
$white: #ffffff;
$tobacco-brown: #6a5243;
$cod-gray: #0e0e0d;
$manatee: #929295;
$atoll: #0a5e6c;
$chalky: #f0caa1;
$raw-sienna: #d68843;
$perfume: #bda2f3;
$daisy-bush: #5b2ca2;
$japanese-laurel: #287a00;

// Median Cut
$outer-space: #282d2c;
$pearl-bush: #e9dedc;
$millbrook: #9f7651;
$mamba: #878589;

// Material Design
$driftwood: #b77c49;
$sandrift: #b2927b;
$atoll-dark: #086875;
$limed-spruce: #344747;
$tan: #d6b28d;